@import 'variables';
@import 'variablesMedia'; 
 
.index {
  font-family: $font-text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &-container {
    max-width: $screen-maw-width;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    flex: 1;

    @media (max-width: $media-queries-mobile) {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  }

}

