$primary-color: black; 
$secondary-color: white; 
$tertiary-color:  #FF6060;
$fourth-color: #F6F6F6;

$screen-maw-width: 1440px;
$screen-padding: 50px;

$font-text: 'Montserrat';

$link-decoration: none;
$link-decoration-hover: underline;






