$primary-color: #A50000;  
$secondary-color: #4BDA4E; 
$tertiary-color:  #5B2E91; 
$fourth-color: #FF4500;

$screen-maw-width: 1440px;
$screen-padding: 50px;

$font-text: 'Montserrat';

$link-decoration: none;
$link-decoration-hover: underline;







